@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jockey+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff3e6;
}
header {
  background: #fff3e6;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* gap: 90px; */
  width: 95%;
  margin: 0 auto;
  margin-top: 10px;
}
.container h2 {
  font-family: jockey One;
  color: #19231a;
}
.hamburger {
  display: none;
}

.second-search {
  display: none;
}
.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid#19231ABF;
  border-radius: 10px;
  gap: 5px;
  overflow: hidden;
  width: 50%;
  font-family: inter;
}

.search-bar select {
  padding: 10px;
  border: none;
  background: #fff3e6;
  cursor: pointer;
  outline: none;
  font-family: inter;
}

.search-bar input {
  padding: 10px;
  border: none;
  outline: none;
  flex: 1;
  font-family: inter;
  background: #fff3e6;
}

.search-icon {
  padding: 5px;
  border-left: 1.5px solid #19231a66;
  color: white;
  cursor: pointer;
}

.search-bar button i {
  font-size: 16px;
}

.basket-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
}

.product-count {
  width: Fixed (18px) px;
  height: Fixed (18px) px;
  top: 1.25px;
  left: 18.49px;
  padding: 0px 4px 0px 4px;
  gap: 10px;
  opacity: 0px;
  background: rgba(13, 92, 99, 1);
  border-radius: 10px;
  font-family: Inter;
  color: white;
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 10px;
  font-weight: 400;
}
.basket-icon img {
  width: 30%;
}

.fashion {
  width: 100%;
  margin-top: 10px;
}
.fashion img {
  width: 100%;
}
.second-fashion {
  display: none;
}
.offer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  display: none;
}
.offer p {
  font-family: Inter;
  color: #19231a;
  font-size: 20px;
  font-weight: 600;
}

.limited {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 85%;
  margin: 0 auto;
  margin-top: 10px;
  overflow-x: scroll;
}
.limited::-webkit-scrollbar {
  display: none;
}

section {
  background: #1f2e27;
  width: 100%;
  margin-top: 40px;
}
.flash-sale {
  width: 80%;
  margin: auto;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 22px; */
  margin-top: 40px;
}
.flash {
  width: 45px;
}
.top-left {
  display: flex;
  align-items: center;
  gap: 22px;
}

.round {
  background: white;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  padding: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
}

.top-left p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  color: white;
}
.top-right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.left-btn {
  background: #ffffff;
  padding: 5px;
  gap: 10px;
  border-radius: 5px;
  border: none;
  opacity: 0px;
  cursor: pointer;
}
.right-btn {
  background: #0d5c63;
  color: white;
  padding: 5px;
  gap: 10px;
  border-radius: 5px;
  border: none;
  opacity: 0px;
  cursor: pointer;
}
.flash-slide {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 44px;
  margin-top: 40px;
  overflow-x: scroll;
  justify-content: space-between;
  /* -ms-overflow-style: none;
  scrollbar-width: none; */
}

.flash-slide::-webkit-scrollbar {
  display: none;
}

.flash-card {
  width: 219px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  /* overflow: hidden; */
}

.fav-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 75px;
}

.flash-card img {
  width: 100%;
  /* object-fit: cover; */
}

.man {
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 150px; /* Enforce a consistent height */
}

.card-details {
  background: #e4dada;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
}

.price {
  display: flex;
  align-items: center;
  gap: 22px;
  font-family: inter;
  font-size: 20px;
  font-weight: 700;
}
.slashed {
  color: red;
  font-size: 15px;
  font-weight: 600;
  text-decoration: line-through;
}
.desc {
  font-family: Inter;
  /* font-size: 20px; */
  font-weight: 600;
  line-height: 16.94px;
  text-align: left;
  color: #19231a;
}

.custom-range {
  width: 75%;
  /* height: 8px; */
  -webkit-appearance: none;
  appearance: none;
  background: #0d5c63;
  outline: none;
  border-radius: 5px;
}

.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 12px;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 10px;
}

.custom-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #4caf50;
  cursor: pointer;
  border-radius: 50%;
}

.range {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Inter;
  color: #19231a;
  font-family: Inter;
  font-size: 8px;
  font-weight: 600;
  line-height: 9.68px;
  text-align: left;
}

main {
  width: 80%;
  margin: 0 auto;
}

.Todays-offer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
.Todays-offer p {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.05px;
  text-align: left;
  color: black;
}
.btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

button {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.2px;
  text-align: left;
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px;
  background: #fff3e6;
  cursor: pointer;
  color: #19231a;
  transition: all 0.5s ease-in-out;
}

button:hover {
  background: #0d5c63;
  color: white;
}

.best-seller {
  color: white;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.2px;
  text-align: left;
  border: none;
  border-radius: 5px;
  background: #0d5c63;
  padding: 8px;
  cursor: pointer;
}
.product-slide {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 40px;
}

.product-card {
  position: relative;
  width: 219px;
  cursor: pointer;
}

.product-card img {
  width: 100%;
}
.details p,
span {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.94px;
  text-align: left;
  color: #000000;
}
.plot {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* .fav {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 75px;
} */
.test {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 180px;
}
.test img {
  width: 100%;
}
.details {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
}

.store {
  display: flex;
  gap: 40px;
  width: 80%;
  margin: 0 auto;
  margin-top: 80px;
  /* align-items: center; */
}
h1 {
  text-align: center;
  margin-top: 60px;
  font-family: Inter;
}
.right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}
.mobolaji {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}

.dummy {
  display: flex;
  align-items: center;
  gap: 10px;
}
.types {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.94px;
  text-align: left;
  color: #000000;
}
.slot {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
.slot p {
  color: black;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
}
.overview h3 {
  font-family: Inter;
}
.overview p {
  font-family: Inter;
  font-size: 10px;
  font-weight: 300;
  line-height: 12.1px;
  text-align: left;
  color: black;
}
.boundary {
  width: 100%;
  margin-top: 40px;
}
.boundary img {
  width: 100%;
}
.boundary2 {
  display: none;
}

footer {
  width: 100%;
  background: #1f2e27;
  padding: 40px;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  border: 2px solid white;
  width: 90%;
  padding: 10px;
}

.info {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.voucher {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  margin-top: 40px;
}
.voucher h2,
p {
  color: white;
}
form p {
  color: white;
}
form input {
  color: white;
  background: #1f2e27;
  border: none;
  outline: none;
  width: 100%;
}
form input::placeholder {
  color: white;
}

.social {
  display: flex;
  align-items: center;
  gap: 50px;
  width: 80%;
  margin: auto;
  margin-top: 80px;
}
#services {
  display: flex;
  align-items: center;
  gap: 50px;
  color: white;
  font-family: Inter;
}
ul {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 25px;
  color: white;
  font-family: Inter;
}

li {
  list-style: none;
  cursor: pointer;
}

.carti h1 {
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  line-height: 43.57px;
  text-align: left;
  color: rgba(25, 35, 26, 1);
}
.item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Inter;
}
.inc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  background: rgba(228, 218, 218, 1);
}
.inc button {
  width: 24px;
  height: 24px;
  top: 243px;
  left: 793px;
  padding: 0px 5px 0px 5px;
  gap: 0px;
  opacity: 0px;
  background: rgba(217, 217, 217, 1);

  border: 1px solid rgba(217, 217, 217, 1);
}
.stuff {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: Inter;
}
.stuff .shoe {
  width: 50%;
}
.stuff p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.36px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.money {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.36px;
  text-align: left;
  color: rgba(25, 35, 26, 0.63);
}
.abt {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.payment-description {
  background: rgba(31, 46, 39, 1);
  width: 100%;
  top: 333px;
  left: 773px;
  padding: 7px 0px 47px 0px;
  gap: 10px;
  border-radius: 32px 32px 10px 10px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}
.payment-description .coupon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 80px;
}
.app {
  position: relative;
}
.carti {
  position: absolute;
  height: 250dvh;
  top: 0px;
  right: 0;
  /* width: 30%; */
  background: rgba(255, 243, 230, 1);
  padding: 20px;
}

@media (max-width: 768px) {
  body {
    max-width: 100%;
  }
  header {
    width: 100%;
  }
  .search-bar {
    display: none;
  }
  .heart {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .second-search {
    display: block;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }
  .basket-icon {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
  }
  .first-fashion {
    display: none;
  }
  .second-fashion {
    display: block;
  }
  .offer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }
  .top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .top-right {
    display: none;
  }
  section {
    width: 100%;
    padding: 40px;
  }
  .top-left img {
    width: 60%;
  }
  .top-left {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* justify-content: center; */
  }
  .plot {
    display: flex;
    align-items: center;
    /* display: none; */
  }
  .flash-sale {
    width: 100%;
  }
  .flash-slide {
    width: 100%;
  }
  .flash-card {
    width: 100%;
  }
  main {
    width: 100%;
  }
  .Todays-offer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .product-slide {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 40px;
  }
  .product-card {
    width: 100%;
  }
  .test {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 90px;
  }

  .fav {
    width: 20px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 45px;
  }
  .store {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    margin-top: 80px;
    /* align-items: center; */
  }
  .right {
    width: 100%;
    display: flex;
    overflow-x: scroll;
  }

  h1 {
    color: #19231abf;
  }
  .mobolaji {
    box-shadow: -4px 4px 4px 0px #19231a7a;
  }

  .right::-webkit-scrollbar {
    display: none;
  }
  .left {
    width: 80%;
    margin: auto;
  }
  .left img {
    width: 100%;
  }
  .boundary1 {
    display: none;
  }
  .boundary2 {
    display: block;
  }
  .boundary {
    width: 90%;
    margin: auto;
    margin-top: 40px;
  }
  .boundary img {
    width: 100%;
  }
  .info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
  }
}
@media (max-width: 510px) {
  body {
    max-width: 100%;
  }
  .product-slide {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 40px;
    /* display: none; */
  }
  .test {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 150px;
  }
}

@media (max-width: 320px) {
  body {
    max-width: 100%;
  }
  header {
    width: 100%;
  }
  .search-bar {
    display: none;
  }
  .heart {
    display: none;
  }
  .test {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 220px;
  }
  .hamburger {
    display: block;
  }
  .second-search {
    display: block;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }
  .basket-icon {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
  }
  .first-fashion {
    display: none;
  }
  .second-fashion {
    display: block;
  }
  .offer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }
  .top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .top-right {
    display: none;
  }
  section {
    width: 100%;
    padding: 40px;
  }
  .top-left img {
    width: 60%;
  }
  .top-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .plot {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* display: none; */
  }
  .flash-sale {
    width: 100%;
  }
  .flash-slide {
    width: 100%;
  }
  .flash-card {
    width: 100%;
  }
  main {
    width: 100%;
  }
  .Todays-offer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .product-slide {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin-top: 40px;
  }
  .product-card {
    width: 100%;
  }

  .fav {
    width: 20px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 45px;
  }
  .store {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    margin-top: 80px;
    /* align-items: center; */
  }
  .right {
    width: 100%;
    display: flex;
    overflow-x: scroll;
  }

  h1 {
    color: #19231abf;
  }
  .mobolaji {
    box-shadow: -4px 4px 4px 0px #19231a7a;
  }

  .right::-webkit-scrollbar {
    display: none;
  }
  .left {
    width: 80%;
    margin: auto;
  }
  .left img {
    width: 100%;
  }
  .boundary1 {
    display: none;
  }
  .boundary2 {
    display: block;
  }
  .boundary {
    width: 90%;
    margin: auto;
    margin-top: 40px;
  }
  .boundary img {
    width: 100%;
  }
  .info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
  }
}
